.container {
    position: relative;
    offset: 0 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    & #messages {
        right: 20%;
    }
}

button.primary {
    background: linear-gradient(
        to right,
        #af005a,
        #6f004b,
        #5f0040,
        #4f0035,
        #3f002a
    );
    color: white;
    border: 2px solid #3f002a;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    width: 3rem;
    height: 1.3rem;
    font-size: 0.8rem;
}
